* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.section {
	padding: 80px 0;
}

.grid {
	/* display: grid;
	grid-template-columns: repeat(10, 1fr); */
	display: flex;
	flex-wrap: wrap;
}

.cell {
	aspect-ratio: 1;
	border: 1px solid black;
	width: calc(100% / 10);
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-blue {
	background-color: cornflowerblue;
}

.bg-red {
	background-color: tomato;
}

.cell.bg-blue,
.cell.bg-red {
	/* pointer-events: none; */
}
