<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<h1>{{ message }}</h1>
			<p>{{emailAddresses.length}}</p>

			<ul v-if="emailAddresses.length === 10">
				<li v-for="(mail,i) in emailAddresses">{{ mail }}</li>
			</ul>
		</div>

		<script src="./js/app.js"></script>
	</body>
</html>
