/* style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

section {
	padding: 30px;
}

.box {
	width: 200px;
	height: 200px;
	background-color: rgb(150, 150, 150);
	color: white;
	padding: 10px;
}

.red {
	background-color: red;
}

.circle {
	border-radius: 50%;
}
