@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
}

section {
	padding: 32px 24px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.grid {
	display: grid;
}

.ex-1 .grid {
	grid-template-columns: 33.3% 33.3% 33.3%;
	gap: 40px;
}

.ex-2 .grid {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr auto;
	gap: 40px;
}

.grid-cols-12 {
	grid-template-columns: repeat(12, 1fr);
	/* grid-template-columns: 1fr 1fr 1fr 1fr 1fr ....; */
}

@media (max-width: 992px) {
	.ex-2 .grid {
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}
}

@media (max-width: 768px) {
	.ex-2 .grid {
		grid-template-columns: 1fr;
		gap: 40px;
	}
}

/* debug */
.grid {
	/* background-color: cornflowerblue; */
	color: white;
	font-size: 18px;
	font-weight: 700;
}

.grid .item {
	background-color: coral;
}

.grid,
.item {
	/* padding: 20px; */
	border-radius: 16px;
}

.app__header {
	background-color: #333;
	grid-area: navbar;
}

.app__main {
	background-color: #888;
	grid-area: content;
}

.app__sidebar {
	background-color: chocolate;
	grid-area: sidebar;
}

.app {
	height: 100vh;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 70px 1fr;
	grid-template-areas:
		'navbar navbar'
		'sidebar content';
}

@media (max-width: 992px) {
	.app {
		grid-template-columns: 70px 1fr;
	}
}
