* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'DM Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

figure > img {
	width: 100%;
	display: block;
}

button {
	background-color: transparent;
	border: none;
}

#app {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: black;
}

.app__content {
	flex-grow: 1;
	overflow: auto;
	padding: 80px;
}

.webcam-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* gap: 10px; */
}

.webcam {
	width: 200px;
	padding: 5px;

	position: relative;
}

.webcam__label {
	position: absolute;
	padding: 4px;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	bottom: 0;
	left: 0;
}

.webcam img {
	display: block;
	aspect-ratio: 16/9;
	object-fit: cover;
	width: 100%;
}

.app__toolbar {
	flex-shrink: 0;
	background-color: #222222;
	display: flex;
	justify-content: space-between;
}

.toolbar,
.toolbar__item {
	display: flex;
}

.toolbar__item {
	align-items: center;
	gap: 12px;
	padding: 16px 16px;
}

.toolbar__item > i {
	font-size: 12px;
}

.button__body {
	text-align: center;
	font-size: 12px;
}

.button__body i {
	font-size: 32px;
	display: block;
	margin-bottom: 8px;
}

.button.button--colored .button__body > i {
	color: greenyellow;
}

.button-end {
	color: red;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0 24px;
}

/* DEBUG */

.debug #app > * {
	/* border: 2px solid red; */
	/* min-height: 100px; */
}

.debug .app__toolbar > * {
	/* border: 1px solid white; */
}
