* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.section {
	padding: 80px 20px;
}

img {
	max-width: 100%;
}

.slide__img {
	/* aspect-ratio: 21/9; */
	object-fit: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.slide {
	position: relative;
	display: none;
	height: 100%;
	align-items: flex-end;
	padding: 50px;
}

.slide.active {
	display: flex;
}

.slide__content {
	/* position: absolute; */
	/* right: 40px;
	left: 40px;
	bottom: 60px; */
	position: relative;
	z-index: 50;
	text-align: right;
	color: white;
}

.carousel {
	position: relative;
	display: flex;
}

.thumbnails {
	width: 20%;
	flex-shrink: 0;
	position: relative;
	user-select: none;
}

.thumbnails__item {
	aspect-ratio: 21/9;
	object-fit: cover;
	display: block;
}

.carousel__control {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	padding: 2px;
}

.arrow-down {
	bottom: 10px;
}

.arrow-up {
	top: 10px;
}
